<% content_for :head do %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery-1.5.1.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min.js' %>
  <%= stylesheet_link_tag 'Aristo/jquery-ui-1.8.7.custom.css', :media => 'screen' %>
  <%= javascript_include_tag 'jquery_ujs' %>
<% end %>
<% langs = %w(thai pali) %>

<script>
  $(function() {
    <% langs.each_with_index do |lang,i| %>
    $("#accordion-<%=i+1%>").accordion({ header: "h3" });
    <% end %>
    $( "#tabs" ).tabs();
  });
</script>

<div class="container">
  <section class="round">
    <h2>รายการจดจำ</h2>
    <div id="tabs">
      <ul>
      <% langs.each_with_index do |lang,i| %>
        <li><a href="#tabs-<%=i+1%>"><%=readable_language_short(lang)%></a></li>  
      <% end %>
      </ul>
      <% langs.each_with_index do |lang,i| %>
      <div id="tabs-<%=i+1%>">
        <%= render :partial => 'content', :locals => { :lang => lang, :i => i } %>
      </div>
      <% end %>
    </div>
    <br/>
    <%= link_to "Back", :back %>
  </section>
</div>
