<% content_for :head do %>
  <%= render 'layouts/stylesheets' %>
  <%= stylesheet_link_tag 'authentication', :media => 'screen' %>
  <%= javascript_include_tag 'jquery-1.5.1.min' %>
  <%= javascript_include_tag 'jquery_ujs' %>
<% end %>
<div class="container">
  <section class="round">

<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>คุณสามารถใช้บริการต่อไปนี้ในการแบ่งปันได้:</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <p><strong>เพิ่มบริการเพื่อใช้ในการแบ่งปัน:</strong></p>
<% else %>
  <p><strong>เลือกบริการเพื่อใช้ในการแบ่งปัน:</strong></p>
<% end %>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<div class="clear"></div>

</section>
</div>
