<% title "News" %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created At</th>
  </tr>
  <% for new in @news %>
    <tr>
      <td><%= new.title %></td>
      <td><%= new.content %></td>
      <td><%= new.created_at %></td>
      <td><%= link_to "Show", new %></td>
      <td><%= link_to "Edit", edit_new_path(new) %></td>
      <td><%= link_to "Destroy", new, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New New", new_new_path %></p>
