<script>
  $(function() {
    $( "#bookmark_adding_dialog" ).dialog({ autoOpen: false, width: 430 });
  });
</script>

<table class="toolbar table-bordered" style="width: auto;" >
  <thead>
    <tr>
      <th>เลือกอ่านที่</th>    
      <th>อ่านทีละหน้า</th>
      <% if @number.to_i != 0 %>
        <th>เทียบเคียงกับ</th>
      <% end %>
      <% if signed_in? %>
        <th>รายการจดจำ</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td style="vertical-align:top">
      <div style="display:inline-block;padding-left:3px;">
        <%= render 'goto_page_form' %>
      </div>
      <div style="display:inline-block;padding-right:3px;">
        <%= render 'goto_item_form' %>
      </div>
    </td>
    <td style="vertical-align:top">
      <div class="back_button">
        <%= link_to image_tag('left.png', :alt => '<<', :size => "32x32"), 
          '#', 'ng-click' => "back();" %>
      </div>
      <div class="next_button">
        <%= link_to image_tag('right.png', :alt => '>>', :size => "32x32"), 
          '#', 'ng-click' => "next();" %>
      </div>
    </td>
    <% if @number.to_i != 0 %>
    <td style="vertical-align:top">
        <div class="compare_form">
          <%= render :partial => 'compare_form', :locals => { :lang1 => @language,
                                                  :volume => @volume,
                                                  :p1 => @number } %>
        </div>
    </td>
    <% end %>
    <% if signed_in? %>
    <td style="vertical-align:top">
        <div class="bookmark">
          <%= link_to 'เรียกดู', bookmarks_path %>
          <%= link_to 'เพิ่ม' , '#', 
                :onclick => 'return $("#bookmark_adding_dialog").dialog("open");' if @number.to_i > 0 %>
        </div>
    </td>
    <% end %>
  </tr>
  </tbody>
</table>

<% if signed_in? and @number.to_i > 0 %>
<div id="bookmark_adding_dialog" title="เพิ่มรายการจดจำ">
  <div style="text-align:center">
    <%= readable_language(@language) %>
  </div>
  <%= form_for @bookmark do |f| %>
    <div style="text-align:center">
      <span>เล่มที่</span> <span><%= i_to_thai @volume %></span> 
      <span>หน้าที่</span> <span><%= i_to_thai @number %></span>
      <span>ข้อที่</span>
      <span>
        <% page = Page.find_by_language_and_volume_and_number(@language,@volume,@number) 
           items = page.items.map { |item| item.number } 
           items = items.uniq.map { |item| [i_to_thai(item), item] }
        %>
        <%= f.select :item_number, items, {}, {:class => 'input-tiny'} %>
      </span>
      <%= f.hidden_field :refer, :name => :refer, :value => request.request_uri.to_s %>
      <%= f.hidden_field :page_id, :value => page.id %>
    </div>
    <div class="field">
      <%= f.text_area :note, :cols => '150' %>
    </div>
    <div class="actions">
      <%= f.submit "เพิ่ม" %>
    </div>
  <% end %>
</div>
<% end %>

