<script>
  $(function() {
    $( "#bookmark_adding_dialog" ).dialog({ autoOpen: false, width: 430 });
  });
</script>

<table class="toolbar table-bordered" style="width: auto;" >
  <thead>
    <tr>
      <th>เลือกอ่านที่</th>    
      <th>อ่านทีละหน้า</th>
      <th style="display:{{show_if_not_zero}};">เทียบเคียงกับ</th>
      <% if signed_in? %>
        <th>รายการจดจำ</th>
      <% end %>
      <% if !@keywords.nil? %>
        <th>คำค้นหา</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td style="vertical-align:top">
      <div style="display:inline-block;padding-left:3px;">
        <%= render 'goto_page_form' %>
      </div>
      <div style="display:inline-block;padding-right:3px;">
        <%= render 'goto_item_form' %>
      </div>
    </td>
    <td style="vertical-align:top">
      <div class="back_button">
        <%= link_to image_tag('left.png', :alt => '<<', :size => "32x32"), 
          '#', 'ng-click' => "back();" %>
      </div>
      <div class="next_button">
        <%= link_to image_tag('right.png', :alt => '>>', :size => "32x32"), 
          '#', 'ng-click' => "next();" %>
      </div>
    </td>

    <td style="vertical-align:top;display:{{show_if_not_zero}};">
        <div class="compare_form">
          <%= render :partial => 'compare_form', :locals => { :lang1 => @language,
                                                  :volume => @volume } %>
        </div>
    </td>

    <% if signed_in? %>
    <td>
        <div class="bookmark">
          <%= link_to 'เรียกดู', bookmarks_path %>
          <span style="display:{{show_inline_if_not_zero}};">
            <%= link_to 'เพิ่ม' , '#',
                  :onclick => 'return $("#bookmark_adding_dialog").dialog("open");'%>
          </span>
        </div>
    </td>
    <% end %>
    <% if !@keywords.nil? %>
      <td><b class="text-info"><%= @keywords %></b></td>
    <% end %>
    
  </tr>
  </tbody>
</table>

<% if signed_in? %>
<div id="bookmark_adding_dialog" title="เพิ่มรายการจดจำ">
  <div style="text-align:center">
    <%= readable_language(@language) %>
  </div>
  <%= form_for @bookmark do |f| %>
    <div style="text-align:center">
      <span>เล่มที่</span> <span><%= i_to_thai @volume %></span> 
      <span>หน้าที่</span> <span>{{page_number_thai}}</span>
      <input id="bookmark_refer" name="refer" type="hidden" value="/read?language=<%= @language %>&amp;number={{cur}}&amp;volume=<%= @volume %>">
      <input id="bookmark_page_id" name="bookmark[page_id]" type="hidden" value="{{page_id}}">
      <input id="bookmark_item_number" name="bookmark[item_number]" type="hidden" value="{{item_number}}">
    </div>
    <div class="field">
      <%= f.text_area :note, :cols => '150' %>
    </div>
    <div class="actions">
      <%= f.submit "เพิ่ม" %>
    </div>
  <% end %>
</div>
<% end %>

