<% content_for :head do %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery-1.4.3.min' %>
  <%= javascript_include_tag 'splitter' %>
  <%= javascript_include_tag 'splitter_config' %>
  <%= stylesheet_link_tag 'splitter', :media => 'screen' %>
<% end %>
<div class="toolbar">
  <div class="goto_page">
    <%= render 'goto_page_form' %>
  </div>
  <div class="goto_item">
    <%= render 'goto_item_form' %>
  </div>
</div>
<div id="splitterContainer">
  <div id="leftPane">
    <ul class="books">
      <%= render 'book' %>
    </ul>
  </div>
  <div id="rightPane">
    <div id="rightPaneHeader">
      <h2 class="book_title">
        <%= @title1 %>
      </h2>
      <h2 class="book_title">
        <%= @title2 %>
      </h2>
      <div class="position">
        <span class="page_info"> <%= @page_number_info %> </span>
        <span class="item_info"> <%= @item_number_info %> </span>
      </div>
    </div>
    <div id="rightSplitterContainer" style="height:85%">
      <div id="rightTopPane">
        <%= render 'content' %>
      </div>
      <div id="rightBottomPane">
      </div>
    </div>
  </div>
</div>

