<% content_for :head do %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery-1.8.2.min.js' %>
  <%= javascript_include_tag 'jquerypp.min.js' %>  
  <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min.js' %>  
  <%= javascript_include_tag 'bootstrap.min.js' %>    
  <%= stylesheet_link_tag 'Aristo/jquery-ui-1.8.7.custom.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'bootstrap-responsive.min.css', :media => 'screen' %>
  <link rel="image_src" href="/logo_64.ico" />
  <%= render :partial => 'read_script' %>  
<% end %>

<div id="controller" ng-controller="PageCtrl" style="height:100%">

<div class="toolbar">
  <%= render :partial => 'toolbar' %>
</div>

<div class="row-fluid" style="height:100%">
  <div class="span3" style="overflow-y: scroll; height:100%">
    <ul class="nav nav-pills nav-stacked" style="font-size: 120%;">
      <%= render 'book' %>
    </ul>
  </div>
  <div class="span9" style="height:100%">    
    <div id="rightPaneHeader">
      <h2 class="book_title">
        <%= @title1 %>
      </h2>
      <h2 class="book_title">
        <%= @title2 %>
      </h2>

      <div class="position">
        <span class="page_info"> {{page_number_info}} </span>
        <span class="item_info"> {{item_number_info}} </span>
      </div>
    </div>
    <br/>
    <div style="display:{{show_if_not_zero}};">
      <a href="/read?language=<%= @language %>&amp;number={{cur}}&amp;volume=<%= @volume %>">ลิงก์สำหรับแบ่งปันหน้านี้</a>
    </div>
    <div id="rightSplitterContainer">
      <p ng-bind-html="content" class="content">{{ content }}</p>
    </div>    
    
  </div>
</div>

</div>