<% content_for :head do %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'jquery-1.8.2.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.12.custom.min.js' %>  
  <%= javascript_include_tag 'bootstrap.min.js' %>    
  <%= stylesheet_link_tag 'Aristo/jquery-ui-1.8.7.custom.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', :media => 'screen' %>
  <%= stylesheet_link_tag 'bootstrap-responsive.min.css', :media => 'screen' %>
  <link rel="image_src" href="/logo_64.ico" />
  <script type="text/javascript">
  
    $.fn.highlight = function(what,spanClass) {
      return this.each(function(){        
        var container = this,
            content = container.innerHTML,
            pattern = new RegExp('(>[^<.]*)(' + what + ')([^<.]*)','g'),
            replaceWith = '$1<span ' + ( spanClass ? 'class="' + spanClass + '"' : '' ) + '">$2</span>$3',
            highlighted = content.replace(pattern,replaceWith);
        container.innerHTML = highlighted;
      });
    }
    
    function PageCtrl($scope) {
      $scope.cur = <%= Integer(@number) %>;
      
      <% cache(:action => 'read', :action_suffix => "all_pages_#{@volume}") do %>
      $scope.all_pages = <%= raw @all_pages.to_json %>;
      <% end %>
      
      $scope.max_number = <%= @max_number %>;
      <% if !@keywords.nil? %>
        $scope.keywords = <%= raw @keywords.split.each { |keyword| keyword.gsub('+',' ') } %>;
      <% end %>

      $scope.set_content = function () {
        var content = $scope.all_pages[$scope.cur][0];
        if (!$scope.keywords) {
          $scope.content = content;
        } else {
          var pattern = new RegExp('(' + $scope.keywords.join('|') + ')','g'),
              replaceWith = '<span ' + ( 'class="' + 'highlight_excerpt' + '"' ) + '">$1</span>',
              highlighted = content.replace(pattern, replaceWith);           
          $scope.content = highlighted;
        }
        $scope.page_number_info = $scope.all_pages[$scope.cur][1];
        $scope.item_number_info = $scope.all_pages[$scope.cur][2];
        $scope.page_number_thai = $scope.all_pages[$scope.cur][3];
        $scope.page_id = $scope.all_pages[$scope.cur][4];
        $scope.item_number = $scope.all_pages[$scope.cur][5];
        
        $scope.show_if_not_zero = $scope.cur > 0 ? 'block' : 'none';
        $scope.show_inline_if_not_zero = $scope.cur > 0 ? 'inline-block' : 'none';
      }

      $scope.set_content();

      $scope.next = function() {
        $scope.cur = ($scope.cur < $scope.max_number) ? $scope.cur + 1 : $scope.cur;
        $scope.set_content();        
      }

      $scope.back = function() {
        $scope.cur = ($scope.cur > 1) ? $scope.cur -1 : $scope.cur;        
        $scope.set_content();        
      }
      
      $scope.$watch('page_number', function(value) {
        $scope.cur = !parseInt(value) || parseInt(value) > $scope.max_number ? $scope.cur : parseInt(value);
        $scope.set_content(); 
      });
    }
  </script>
<% end %>

<div ng-controller="PageCtrl" style="height:100%">

<div class="toolbar">
  <%= render :partial => 'toolbar' %>
</div>

<div class="row-fluid" style="height:100%">
  <div class="span3" style="overflow-y: scroll; height:100%">
    <ul class="nav nav-pills nav-stacked" style="font-size: 120%;">
      <%= render 'book' %>
    </ul>
  </div>
  <div class="span9" style="height:100%">
    <div id="rightPaneHeader">
      <h2 class="book_title">
        <%= @title1 %>
      </h2>
      <h2 class="book_title">
        <%= @title2 %>
      </h2>

      <div class="position">
        <span class="page_info"> {{page_number_info}} </span>
        <span class="item_info"> {{item_number_info}} </span>
      </div>
    </div>
    
    <div id="rightSplitterContainer">
      <%= render :partial => 'content', :locals => { :content => @content } %>
    </div>    
    
  </div>
</div>

</div>