<% content_for :head do %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'rails' %>
<% end %>

<div class="container">
  <%= render 'search_bar' %>

  <% if !@pages.nil? and !@pages.empty? %>
  <section class="round">
    <div class="results_info">
      <%= render :partial => 'results_info' unless @pages.nil? or @pages.empty? %>
    </div>
    <div class="results">
      <% unless @pages.nil? or @pages.empty? %>
        <%= will_paginate(@pages,:renderer => 'MyLinkRenderer',
                                 :next_label => '→',
                                 :previous_label => '←')%>
        <table class="results" summary="Search results">
          <%= render @pages %>
        </table>
        <%= will_paginate(@pages,:renderer => 'MyLinkRenderer',
                                 :next_label => '→',
                                 :previous_label => '←')%>
      <% end %>
    </div>
  </section>
  <% else %>
  <div class="search">
    <h3 class="round">ตรวจหา</h3>
    <div>
      <%=raw '&nbsp;'*8%>"ภิกษุทั้งหลาย ! พวกภิกษุบริษัทในกรณีนี้, สุตตันตะเหล่าใด 
      ที่กวีแต่งขึ้นใหม่เป็นคำร้อยกรองประเภทกาพย์กลอน
      มีอักษรสละสลวย มีพยัญชนะอันวิจิตร เป็นเรื่องนอกแนว เป็นคำกล่าวของสาวก 
      เมื่อมีผู้นำสุตตันตะเหล่านั้นมากล่าวอยู่
      เธอจักไม่ฟังด้วยดี ไม่เงี่ยหูฟัง ไม่ตั้งจิตเพื่อจะรู้ทั่วถึง และจักไม่สำคัญว่าเป็นสิ่งที่ตนควรศึกษาเล่าเรียน"
    </div><br/>
    <div>
      <%=raw '&nbsp;'*8%>"ภิกษุทั้งหลาย ! <b>ส่วนสุตตันตะเหล่าใดที่เป็นคำของตถาคต 
      เป็นข้อความลึก มีความหมายซึ้ง เป็นชั้นโลกุตตระ
      ว่าเฉพาะด้วยเรื่องสุญญาตา, เมื่อมีผู้นำสุตตันตะเหล่านั้นมากล่าวอยู่; เธอย่อมฟังด้วยดี ย่อมเงี่ยหูฟัง
      ย่อมตั้งจิตเพื่อจะรู้ทั่วถึง และย่อมสำคัญว่าเป็นสิ่งที่ตนควรศึกษาเล่าเรียน</b> จึงพากันเล่าเรียนไต่ถาม
      ทวนถามแก่กันและกันอยู่ว่า "ข้อนี้เป็นอย่างไร? มีความหมายกี่นัย?" ดังนี้. ด้วยการทำดังนี้ 
      เธอย่อมเปิดธรรมที่ถูกปิดไว้ได้. ธรรมที่ยังไม่ปรากฎเธอก็ทำให้ปรากฎได้, 
      ความสงสัยในธรรมหลายประการที่น่าสงสัยเธอก็บรรเทาลงได้"
    </div><br/>
    <p style="text-align:right">
      <%= link_to 'ทุก. อํ. ๒๐/๖๘/๒๙๒', read_path(:language => 'thai',
                                                :volume => 20, :number => 68),
                  :target => '_blank' %>
    </p>
  </div>
  <div class="compare">
    <h3 class="round">เทียบเคียง</h3>
    <div>
      <%=raw '&nbsp;'*8%>"ภิกษุทั้งหลาย ! ถ้าภิกษุในธรรมวินัยนี้กล่าวอย่างนี้ว่า
    </div>
    <div>
      ...(๑) ข้าพเจ้าได้สดับรับมาเฉพาะพระพักตร์พระผู้มีพระภาค
    </div>
    <div>
      ...(๒) ในอาวาสชื่อโน้น มีสงฆ์อยู่พร้อมด้วยพระเถระ พร้อมด้วยปาโมกข์
      ข้าพเจ้าได้สดับมาเฉพาะหน้าสงฆ์นั้น
    </div>
    <div>
      ...(๓) ในอาวาสชื่อโน้น มีภิกษุผู้เป็นเถระอยู่จำนวนมากเป็นพหูสูตร เรียนคำภีร์
      ทรงธรรม ทรงวินัย ทรงมาติกา ข้าพเจ้าได้สดับมาเฉพาะหน้าพระเถระเหล่านั้น
    </div>
    <div>
      ...(๔) ในอาวาสชื่อโน้น มีภิกษุผู้เป็นเถระอยู่รูปหนึ่งเป็นพหูสูตร เรียนคำภีร์
      ทรงธรรม ทรงวินัย ทรงมาติกา ข้าพเจ้าได้สดับเฉพาะหน้าพระเถระรูปนั้น
    </div>
    <div>
      &nbsp;&nbsp;&nbsp;ว่า "นี้เป็นธรรม นี้เป็นวินัย นี้เป็นคำสอนของพระศาสดา"...
    </div><br/>
    <div>
      <%=raw '&nbsp;'*8%><b>เธอทั้งหลายยังไม่พึงชื่นชม ยังไม่พึงคัดค้านคำกล่าวนั้น</b> 
      พึงเรียนบทและพยัญชนะเหล่านั้นให้ดี
      <b>แล้วพึงสอบสวนลงในพระสูตร เทียบเคียงดูในวินัย</b> ถ้าบทและพยัญชนะเหล่านั้น สอบลงไม่ได้
      เทียบเข้าในวินัยก็ไม่ได้... เธอทั้งหลายพึงทิ้งคำนั้นเสีย"
    </div><br/>
    <p style="text-align:right">
      <%=link_to 'จตุกฺก. อํ. ๒๑/๑๖๒/๑๘๐', read_path(:language => 'thai', 
                                                :volume => 21, :number => 162) %>
    </p>
  </div>
  <% end %>
</div>
