<% content_for :head do %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag 'rails' %>
<% end %>

<div class="container">
  <%= render 'search_bar' %>

  <% if !@pages.nil? and !@pages.empty? %>
  <section class="round">
    <div class="results_info">
      <%= render :partial => 'results_info' unless @pages.nil? or @pages.empty? %>
    </div>
    <div class="results">
      <% unless @pages.nil? or @pages.empty? %>
        <%= will_paginate(@pages,:renderer => 'MyLinkRenderer',
                                 :next_label => '→',
                                 :previous_label => '←')%>
        <table class="results" summary="Search results">
          <%= render @pages %>
        </table>
        <%= will_paginate(@pages,:renderer => 'MyLinkRenderer',
                                 :next_label => '→',
                                 :previous_label => '←')%>
      <% end %>
    </div>
  </section>
  <% end %>
</div>
