<p><strong>โปรแกรมเวอร์ชั่นล่าสุด</strong></p>

<div><%= link_to 'Windows', Link.find_by_title('Windows').url, :target => '_blank' %>
</div>
<div>ใช้ได้เฉพาะ Windows XP, Windows Vista, Windows 7</div>
<div><%= link_to "source code", 'https://github.com/ssutee/E-Tipitaka-for-PC', :target => '_blank' %></div>
</br>

<div><%= link_to 'Linux', Link.find_by_title('Linux').url, :target => '_blank' %> 
</div>
<div>ใช้ได้กับ Linux ทุกยี่ห้อที่ลง Python 2.6 และ wxPython 2.8</div>
<div><%= link_to "source code", 'https://github.com/ssutee/E-Tipitaka-for-PC', :target => '_blank' %></div>
<br/>

<div><%= link_to 'Mac OS', Link.find_by_title('Mac OS').url, :target => '_blank' %>
</div>
<div>ใช้ได้เฉพาะ OS X 10.6 เท่านั้น</div>
<div><%= link_to "source code", 'https://github.com/ssutee/E-Tipitaka-for-PC', :target => '_blank' %></div>
<br/>

<div><%= link_to 'Android (Market)', Link.find_by_title('Android').url, :target => '_blank' %></div>
<div>ใช้ได้เฉพาะ Android 2.1 ขึ้นไป</div>
<div><%= link_to "source code", 'https://github.com/ssutee/E-Tipitaka-for-Android', :target => '_blank' %></div>
<br/>

<div><%= link_to 'iOS (App Store)', Link.find_by_title('iOS').url, :target => '_blank' %></div>
<div>ใช้ได้เฉพาะ iOS 4.0 ขึ้นไป (ไม่รองรับ iPhone 3G)</div>
<div><%= link_to "source code", 'https://github.com/ssutee/E-Tipitaka-for-iOS', :target => '_blank' %></div>
<br/>
