<h3>โปรแกรมเวอร์ชั่นล่าสุด</h3>
<br/>

<div><%= link_to 'Windows', 
  'http://sourceforge.net/projects/tipitaka-thai/files/E-Tipitaka-2.1/E-Tipitaka-2.1-setup.exe/download' %>
</div>
<div>ใช้ได้เฉพาะ Windows XP, Windows Vista, Windows 7</div>
</br>

<div><%= link_to 'Linux', 
  'http://sourceforge.net/projects/tipitaka-thai/files/E-Tipitaka-2.1/E-Tipitaka-2.1.tar.gz/download' %>
</div>
<div>ใช้ได้กับ Linux ทุกยี่ห้อที่ลง Python 2.6 และ wxPython 2.8</div>
<br/>

<div><%= link_to 'Mac OS', 
  'http://sourceforge.net/projects/tipitaka-thai/files/E-Tipitaka-2.1/E-Tipitaka_2.1-macosx.pkg/download' %>
</div>
<div>ใช้ได้เฉพาะ OS X 10.6 เท่านั้น</div>
<br/>

<div><%= link_to 'Android (Market)', 'https://market.android.com/details?id=com.watnapp.etipitaka' %></div>
<div>ใช้ได้เฉพาะ Android 2.1 ขึ้นไป</div>
<br/>

<div><%= link_to 'iOS (App Store)', 'http://itunes.apple.com/us/app/e-tipitaka/id436810158?mt=8&ls=1' %></div>
<div>ใช้ได้เฉพาะ iOS 4.0 ขึ้นไป (ไม่รองรับ iPhone 3G)</div>
<br/>
