<div class="header">
  <div class="userbox">
  <% if !signed_in? %>
    <ul class="usernav">
      <li>ผู้ใช้ไม่ได้ลงทะเบียน</li>
      <li>|</li>
      <li><%= link_to 'หน้าแรก', search_path %></li>
      <li>|</li>
      <li><%= link_to 'ลงทะเบียน', new_user_registration_path %></li>
      <li>|</li>
      <li>
        <%= link_to 'เข้าสู่ระบบ', new_user_session_path%>
      </li>
    </ul>
  <% else %>
    <ul class="usernav">
      <li><%= current_user.user_name %></li>
      <li>|</li>
      <li><%= link_to 'หน้าแรก', search_path %></li>
      <li>|</li>
      <li><%= link_to 'แก้ไขข้อมูลผู้ใช้', edit_user_registration_path %></li>
      <li>|</li>
      <li><%= link_to 'รายการจดจำ', bookmarks_path %></li>
      <li>|</li>
      <li><%= link_to 'ตั้งค่าการแบ่งปัน', authentications_path %></li>
      <li>|</li>
      <li><%= link_to 'ออกจากระบบ', destroy_user_session_path %></li>
    </ul>
  <% end %>
  </div>
</div>

<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>
