<!DOCTYPE html>
<html>
<head>
  <title> <%= title %></title>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if request.fullpath != root_url and request.fullpath != home_url %>
<%= render 'layouts/navigation' %>
<% end %>

<%= yield %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
