<!DOCTYPE html>
<html>
<head>
  <title> <%= title %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <%= stylesheet_link_tag 'home', :media => 'screen' %>
  <%= javascript_include_tag 'jquery-1.5.1.min' %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrap">
  <div id="header2"></div>

  <div id="menu">
    <ul>
      <li><%= link_to image_tag('menu1.png', :alt => 'หน้าหลัก', :border => 0), home_path  %></li>
      <li><%= link_to image_tag('menu2.png', :alt => 'ประวัติความเป็นมา', :border => 0), background_path  %></li>
      <li><%= link_to image_tag('menu3.png', :alt => 'วิธีใช้โปรแกรม', :border => 0), howto_path  %></li>
      <li><%= link_to image_tag('menu5.png', :alt => 'ดาวน์โหลด', :border => 0), download_path  %></li>
      <li><%= link_to image_tag('menu4.png', :alt => 'ค้นหาผ่านเว็บ', :border => 0), search_path, :target => '_blank' %></li>
    </ul>
  </div>

  <div id="content">
    <div class="right"> 
      <div class="content_right">
        <h2 class="sub_title round"><%= @topic %></h2>
      </div>
      <div class="content_right main_text">
        <%= yield %>
      </div>
    </div>

    <div class="left"> 
      <div id="h2" class="news_title round">ข่าวล่าสุด</div>
        <%= render 'posts/post' %>
      <div align="right" style="margin-bottom: 15px;">
        <h2><%= link_to 'ดูข่าวทั้งหมด', news_path %></h2>
      </div>
      <div id="h2" class="links_title round">เว็บแนะนำ</div>
        <%= render 'links/link' %>
    </div>

    <div style="clear: both;"> </div>

    <div id="footer">
        Copyright © 2011 Sutee Sudprasert. 
        All rights reserved.
        Powered by Ruby on Rails.
    </div>
  </div>
</div>
</body>
</html>
